<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
			   xmlns="http://www.springframework.org/schema/beans"
			   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!--服务调用方,如果该服务，依赖其他项目的服务
	<dubbo:reference id="xxxQueryService" interface="com.example.service.xxxQueryService" version="1.0.0"  timeout="5000" />
	-->

</beans>