<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
  http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:consumer check="false"/>
    <!-- 注意查询与更新分开-->
    <dubbo:service interface="com.example.service.QueryService" ref="queryService"
                   version="1.0.0" timeout="5000"/>
    <!--update时增加retries=0属性-->
    <dubbo:service interface="com.example.service.UpdateService" ref="updateService"
                   version="1.0.0" timeout="5000" retries="0"/>
</beans>